@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}

nav {
  background-color: rgb(185, 128, 185);
  color: rgb(80, 76, 76);
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.container {
  background-color: rgb(248, 229, 155);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
}

.container > form {
  display: flex;
  flex-direction: column;
}
.container > h1 {
  margin: 30px;
  text-align: center;
  font-size: 2.5rem;
}

input,
textarea,
button {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1.2rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgb(33, 37, 37);
  color: white;
}

.task {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
}

.task span{
  color: rgba(0, 0, 0, 0.658);
}
.task > div {
  width: 100%;
}

.task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: crimson;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover {
  background-color: red;
}
